@import "tailwindcss";

@font-face {
  font-family: "Altone";
  src: url("/fonts/AltoneTrial-Regular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  overflow-x: hidden;
}
